# eLabFTW API Token (Generate in User Panel -> API Keys)
ELABFTW_TOKEN=your_api_key_here

# Base URL to your eLabFTW instance API
API_URL=https://eln.yourdomain.com/api/v2

# Comma-separated list of Category Names you want to sync for Sequences (.gb, .fasta)
CATEGORY_NAMES="Plasmids, Primers"

# Comma-separated list of Category Names you want to sync for Syntaxes (.json)
SYNTAX_CATEGORY_NAMES="Assembly Syntaxes"

# The path to your OpenCloning static_content folder
STATIC_DIR=/path/to/opencloning/static_content